{{> navbar path=path}}

<div style="padding-top: 56px; padding-bottom: 56px;">
	<main class="container my-4">
		<div class="row justify-content-center">
			<div class="col col-lg-10 col-xl-8 col-xxl-8">
				{{#each errors as |error|}}
					<div class="alert alert-danger" role="alert">
						{{error}}
					</div>
				{{/each}}
				{{#each successes as |success|}}
					<div class="alert alert-success" role="alert">
						{{success}}
					</div>
				{{/each}}
				<ul class="list-group">
				{{#each files}}
					<li class="list-group-item">
						<label for="check{{@index}}" class="stretched-invisible-label">
							<div class="form-check align-items-center">
								<input type="checkbox" class="form-check-input multi-select" data-select="{{name}}" data-select-size="{{size}}" data-select-type="{{#if isdirectory}}directory{{else}}file{{/if}}" id="check{{@index}}">
								<span class="form-check-label d-flex justify-content-between align-items-center">
									{{#if isdirectory}}
										<a href="./{{name}}/" class="name">{{name}}/</a>
									{{else}}
									{{#if error}}
										<a href="./{{name}}/" class="name" title="{{error}}">{{name}}/</a>
										<span class="badge rounded-pill bg-danger badge-alignment">err</span>
									{{else}}
										<a href="./{{name}}" class="name">{{name}}</a>
										<div>
										<span class="badge rounded-pill bg-secondary badge-alignment">{{filesize size}}</span>
										{{#if shellByFile}}
											<span class="ms-3">
											<a class="btn btn-info btn-sm run-in-shell" href="@run-in-shell" data-bs-toggle="modal" data-cmd="{{shellByFile}}" data-dir="{{dir}}" data-file="{{name}}" data-bs-target="#run-in-shell" title="Run command in shell on ./{{name}}" data-bs-placement="top">
												{{octicon "terminal"}}
												<span class="d-sm-inline">Run in shell</span>
											</a>
											</span>
										{{/if}}
										{{#if cmdByFile}}
											<span class="ms-3">
											<a class="btn btn-info btn-sm run-cmd" href="@cmd" data-bs-toggle="modal" data-cmd="{{cmdByFile}}" data-select="{{name}}" data-bs-target="#cmd" title="Run a command on ./{{name}}" data-bs-placement="top">
												{{octicon "terminal"}}
												<span class="d-sm-inline">Run command</span>
											</a>
											</span>
										{{/if}}
										</div>
									{{/if}}
									{{/if}}
								</span>
								{{#if issmallimage}}
								<img src="./{{name}}" class="mt-2" style="max-height: 6em; max-width: 100%;">
								{{/if}}
							</div>
						</label>
					</li>
				{{else}}
					<li class="list-group-item">
						No files
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
	</main>
</div>

{{> toolbar shellable=shellable cmdable=cmdable}}

{{> dialogue-upload}}
{{> dialogue-mkdir}}
{{> dialogue-cmd}}
{{> dialogue-run-in-shell}}
{{> dialogue-download}}
{{> dialogue-rename}}
{{> dialogue-delete}}
